<div style="display:block; background-color:coral; color:black">
  <h5>Covid-19 Key Updates</h5>
  <p>
    Cases today: {{canadaData.casesToday}}<br>
    Total cases: {{canadaData.totalCases}}<br>
    Active cases: {{canadaData.activeCases}}<br>
    Total recovered: {{canadaData.totalRecovered}}<br>
    Deaths today: {{canadaData.deathsToday}}<br>
    Total deaths: {{canadaData.totalDeaths}}<br>
    Tests performed today: {{canadaData.testsPerformedToday}}<br>
    Total tests performed: {{canadaData.totalTestsPerformed}}<br>
    Percent positive (total): {{canadaData.percentPositive}}%<br>
    Tests performed per million: {{canadaData.testsPerMillion}}<br>
  </p>
</div>
