<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ontario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-cases-in-ontario></app-cases-in-ontario>
  <p style="display:block; background-color:darkgray; color:black;">{{message}}</p>
  <ion-list-header style="display:block; text-align:center;">Summary of Total Doses Administered</ion-list-header>
  <ion-list *ngFor="let item of dates">
    <ion-button (click)="sendData(item)" expand="block">{{item.report_date}}</ion-button>
  </ion-list>
</ion-content>
